[Unit]
Description=Middleware Resource Manager API Gateway
After=network.target infra-portal.service community-service.service ai-service.service core-service.service
Wants=infra-portal.service community-service.service ai-service.service core-service.service

[Service]
Type=simple
User=root
WorkingDirectory=/app/infra_portal/backend
ExecStart=/usr/local/java/bisheng-jdk-17.0.12/bin/java -Xms512m -Xmx512m -jar /app/infra_portal/backend/api-gateway-0.0.1-SNAPSHOT-exec.jar
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

StandardOutput=append:/app/infra_portal/logs/api-gateway.log
StandardError=append:/app/infra_portal/logs/api-gateway.log

[Install]
WantedBy=multi-user.target
